.background {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


    opacity: 0.3;
}

.reveal .slides pre code {
    font-size: 30px;
    line-height: 30px;
}

.reveal .slides section h1:first-child {
    margin-top: 120px;
}

.reveal .slides section>h2 + * {

}

.reveal>.slides section {
    font-size: 24pt;
}

.reveal>.slides section h1 {
    font-size: 200%;
}

.reveal>.slides section h2 {
    font-size: 150%;
}

.reveal>.slides section h3 {
    font-size: 125%;
}

.reveal>.slides section .tiny-font {
    font-size: 75%;
}

.reveal>.slides section .medium-font {
    font-size: 90%;
}

.reveal>.slides section.introduction-slide img {
    border: 0;
    box-shadow: none;

    background: none;
}
